-# Fixme: Evitar hardcodear esta url vvv
= form_for @ldi, :url => {:action => "update"}, :class => "form" do |f|
  .form-group
    = f.label :nombre
    = f.text_field :nombre, :autofocus => true, :class => "form-control"

  .form-group
    = f.label :categoria, "Categoría"
    = f.select :categoria, [['Bares y Pubs','bar_pub'],['Restaurantes','restaurante'],['Alojamientos','alojamiento'],
    ['Naturaleza','naturaleza'],['Cultural','cultural']],{}, {:class => "form-control"}

  .form-group
    = f.label :direccion, "Dirección"
    = f.text_field :direccion, :autofocus => true, :class => "form-control"

  .form-group
    = f.label :cod_postal, "Código postal"
    = f.text_field :cod_postal, :autofocus => true, :class => "form-control"

  = fields_for :poblacion, @ldi.poblacion do |pob|
    .form-group
      = pob.label :nombre, "Nombre de población"
      = pob.text_field :nombre, :autofocus => false, :class => "form-control"

  .form-group
    = f.label :telefono
    = f.text_field :telefono, :autofocus => false, :class => "form-control"

  .form-group
    = f.label :email
    = f.email_field :email, :autofocus => true, :class => "form-control"

  .form-group
    = f.label :descripcion
    = f.text_area :descripcion, :autofocus => false, :class => "form-control"

  .form-group
    .form-group
      = f.label :image, "Imagen"
      %i
        (La imagen será subida después de actualizar el perfil)
    .form-group
      = image_tag @ldi.image, :class => "responsive-image img-thumbnail center-block"
    .form-group
      = f.file_field :image, :class => "form-control"

  .text-right
    = f.submit "Actualizar", :class => "btn btn-default pull-right"