.container-fluid
  %h1.text-center.page-header
    Editar perfil
    %small
      = @usuario.nombre + " " + @usuario.apellidos
  .col-lg-4
  .col-lg-4
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}, :class => "form") do |f|
      = devise_error_messages!

      .form-group
        = f.label :nombre
        = f.text_field :nombre, :autofocus => true, :class => "form-control"

      .form-group
        = f.label :apellidos
        = f.text_field :apellidos, :autofocus => false, :class => "form-control"

      .form-group
        = f.label :email
        = f.email_field :email, :autofocus => true, :class => "form-control"

      .form-group
        = f.label :password, "Contraseña nueva"
        %i
          (Déjalo en blanco si no quieres cambiarla)
        = f.password_field :password, :class => "form-control"

      .form-group
        = f.label :password_confirmation, "Contraseña nueva (confirmación)"
        = f.password_field :password_confirmation, :class => "form-control"

      .form-group
        = f.label :current_password, "Contraseña actual"
        %i
          (Es necesaria tu contraseña actual para modificar los cambios)
        = f.password_field :current_password, :class => "form-control"

      .form-group
        = f.label :image, "Imagen"
        %i
          (La imagen será subida después de actualizar el perfil)
        = image_tag resource.image, :class => "responsive-image center-block"
        = f.file_field :image, :class => "form-control"

      .text-right
        = f.submit "Actualizar", :class => "btn btn-default"

    %h3
      Cerrar mi cuenta

    %p
      Cerrar tu cuenta es un paso irreversible. Los lugares que hayas recomendado, tus comentarios y valoraciones serán
      anónimos a partir de ahora.
      .text-right
        = button_to "Cerrar mi cuenta", registration_path(resource_name), :class => "btn btn-danger",
        :data => { :confirm => "¿Estás realmente seguro? Tus datos se perderán para siempre." }, :method => :delete

  .col-lg-4