.container-fluid
  %h1.text-center.page-header
    Nuevo usuario

  .col-lg-4
  .col-lg-4
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => "form") do |f|

      - if (resource.errors.any?)
        .panel.form-group.panel-danger
          .text-danger.panel-heading
            %h3.panel-title
              = "Hay " + pluralize(resource.errors.count, "error", "errores")
          .panel-body
            %ul
              - resource.errors.full_messages.each do |msg|
                %li.text-danger
                  %strong
                    = msg.split(' ')[0]
                  = msg.split(' ')[1..-1].join(' ')

      .form-group
        = f.label :nombre
        %span.label.label-warning
          necesario
        = f.text_field :nombre, :autofocus => true, :class => "form-control"

      .form-group
        = f.label :apellidos
        = f.text_field :apellidos, :autofocus => false, :class => "form-control"

      .form-group
        = f.label :email
        %span.label.label-warning
          necesario
        = f.email_field :email, :autofocus => true, :class => "form-control"

      .form-group
        = f.label :password, "Contraseña"
        %span.label.label-warning
          necesario
        = f.password_field :password, :class => "form-control"

      .form-group
        = f.label :password_confirmation, "Contraseña (confirmación)"
        %span.label.label-warning
          necesario
        = f.password_field :password_confirmation, :class => "form-control"

      .form-group
        = f.label :image, "Imagen"
        = f.file_field :image, :class => "form-control"

      .text-right
        = f.submit "Registrar", :class => "btn btn-default"

  .col-lg-4