.btn-group
  .btn-group
    %button{:type => "button", :class => "btn btn-default dropdown-toggle", "data-toggle" => "dropdown"}
      Ordenar por
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to :controller => "busqueda", :action => "index", :orden => "relevancia", :filtro => params[:filtro],
        :query => params[:query] do
          %span.glyphicon.glyphicon-exclamation-sign
          Relevancia
        = link_to :controller => "busqueda", :action => "index", :orden => "fecha", :filtro => params[:filtro],
        :query => params[:query] do
          %span.glyphicon.glyphicon-time
          Fecha
        = link_to :controller => "busqueda", :action => "index", :orden => "nombre", :filtro => params[:filtro],
        :query => params[:query] do
          %span.glyphicon.glyphicon-sort-by-alphabet-alt
          Nombre
        = link_to :controller => "busqueda", :action => "index", :orden => "valoracion", :filtro => params[:filtro],
        :query => params[:query] do
          %span.glyphicon.glyphicon-star
          Valoración
        = link_to :controller => "busqueda", :action => "index", :orden => "comentarios", :filtro => params[:filtro],
        :query => params[:query] do
          %span.glyphicon.glyphicon-sort-by-attributes-alt
          Comentarios
  .btn-group
    %button{:type => "button", :class => "btn btn-default dropdown-toggle", "data-toggle" => "dropdown"}
      Filtrar por
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to :controller => "busqueda", :action => "index", :filtro => "todo", :orden => params[:orden],
        :query => params[:query] do
          Todos
        = link_to :controller => "busqueda", :action => "index", :filtro => "naturaleza", :orden => params[:orden],
        :query => params[:query] do
          %span.glyphicon.glyphicon-tree-deciduous
          Naturaleza
        = link_to :controller => "busqueda", :action => "index", :filtro => "restaurante", :orden => params[:orden],
        :query => params[:query] do
          %span.glyphicon.glyphicon-cutlery
          Restaurantes
        = link_to :controller => "busqueda", :action => "index", :filtro => "bar_pub", :orden => params[:orden],
        :query => params[:query] do
          %span.glyphicon.glyphicon-glass
          Bares y pubs
        = link_to :controller => "busqueda", :action => "index", :filtro => "alojamiento", :orden => params[:orden],
        :query => params[:query] do
          %span.glyphicon.glyphicon-home
          Alojamientos
        = link_to :controller => "busqueda", :action => "index", :filtro => "cultura", :orden => params[:orden],
        :query => params[:query] do
          %span.glyphicon.glyphicon-tower
          Cultural
        = link_to :controller => "busqueda", :action => "index", :filtro => "poblacion", :orden => params[:orden],
        :query => params[:query] do
          Poblaciones