/Begin page content
.container
  .col-lg-2
  .col-lg-8
    .row
      .btn-group
        .btn-group
          %button{:type => "button", :class => "btn btn-default dropdown-toggle", "data-toggle" => "dropdown"}
            Ordenar por
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"}
                %span.glyphicon-sort-by-order
                Fecha
              %a{:href => "#"}
                %span.glyphicon-sort-by-alphabet-alt
                Nombre
              %a{:href => "#"}
                %span.glyphicon.glyphicon-star
                Valoración
              %a{:href => "#"}
                %span.glyphicon.glyphicon-sort-by-attributes
                Comentarios
        .btn-group
          %button{:type => "button", :class => "btn btn-default dropdown-toggle", "data-toggle" => "dropdown"}
            Filtrar por
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"}
                Todos
              %a{:href => "#"}
                %span.glyphicon.glyphicon-tree-deciduous
                Naturaleza
              %a{:href => "#"}
                %span.glyphicon.glyphicon-cutlery
                Restaurantes
              %a{:href => "#"}
                %span.glyphicon.glyphicon-glass
                Bares y pubs
              %a{:href => "#"}
                %span.glyphicon.glyphicon-home
                Alojamientos
              %a{:href => "#"}
                %span.glyphicon.glyphicon-tower
                Cultura

    /For each location
    -@resultado.each do |r|
      - res = Ldi.find(r["_source"]["id"]) if r["_type"] == "ldi"
      - res = Poblacion.find(r["_source"]["id"]) if r["_type"] == "poblacion"

      .row.media.well.well-sm
        .media-object.pull-left
          -# Foto
          =image_tag res.image, :size => "80"

        .media-body
          .media-heading
            - if r["_type"] == "ldi"
              %h3
                .col-lg-10
                  .row
                    -# Título
                    = link_to :controller => "comentario", :action => "new", :id_ldi => res.id do
                      = res.nombre
                      = surround " (", ")" do
                        = res.poblacion.nombre

                  .row
                    %small
                      -# Valoración
                      - val = calc_valoraciones res.id

                      - if val != -1
                        - val.times do
                          %span.glyphicon.glyphicon-star
                        - (5-val).times do
                          %span.glyphicon.glyphicon-star-empty
                      - else
                        Sin valoraciones
                      = " | "
                      -# Comentarios
                      = "#{res.comentarios.count} mensajes"
                .col-lg-2
                  -# Icono
                  - if r["_type"] == "ldi"
                    - if res.categoria == "bar_pub"
                      %span.glyphicon.glyphicon-glass
                    - elsif res.categoria == "restaurante"
                      %span.glyphicon.glyphicon-cutlery
                    - elsif res.categoria == "naturaleza"
                      %span.glyphicon.glyphicon-tree-deciduous
                    - elsif res.categoria == "cultural"
                      %span.glyphicon.glyphicon-tower
                    - elsif res.categoria == "alojamiento"
                      %span.glyphicon.glyphicon-home

            - elsif r["_type"] == "poblacion"
              %h3
                %div
                  = link_to :controller => "poblacion", :action => "show", :id => res.id do
                    = res.nombre

