.jumbotron.container-fluid
  %h1.text-center
    Iniciar sesión

  .col-lg-3
  .col-lg-6
    .form-horizontal
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .form-group.row
          .col-lg-2
          .visible-xs.visible-sm.col-xs-2.col-sm-2.text-left.hidden-md.hidden-lg
            = f.label :email, :class => "control-label"
          .visible-md.visible-lg.col-md-2.col-lg-2.text-right.hidden-xs.hidden-sm
            = f.label :email, :class => "control-label"
          .col-lg-5
            = f.email_field :email, :autofocus => true, :class => "form-control"
          .col-lg-3

        .form-group.row
          .col-lg-2
          .visible-xs.visible-sm.col-xs-2.col-sm-2.text-left.hidden-md.hidden-lg
            = f.label :password, :class => "control-label"
          .visible-md.visible-lg.col-md-2.col-lg-2.text-right.hidden-xs.hidden-sm
            = f.label :password, :class => "control-label"
          .col-lg-5
            = f.password_field :password, :class => "form-control"
          .col-lg-3

        .form-group.row
          .col-lg-9
            .text-right
              = f.submit "Entrar", :class => "btn btn-default"

  .col-lg-3