.container-fluid
  /Imagen
  .row.form-group
    -# Fixme: Versionar tamaño imagen
    = image_tag @ldi.image, :class => "img-responsive img-thumbnail center-block"

  /Mapa
  .row.form-group

    %div{:id => "map", :style => 'width: 800px; height: 400px;', :class => "img-responsive"}

      - if @ldi.lat != nil && @ldi.long !=nil   # Si ldi posee coordenadas propias
        - zoom = 15
      - else
        - zoom = 10

      :javascript
        $( document).ready(function() {
            var mapOptions = {
                center: new google.maps.LatLng("#{@ldi.lat || @ldi.poblacion.lat}", "#{@ldi.long || @ldi.poblacion.long}"),
                zoom: #{zoom},
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"),
                mapOptions);
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng("#{@ldi.lat || @ldi.poblacion.lat}", "#{@ldi.long || @ldi.poblacion.long}"),
              map: map
            });
        });

  /Información
  .row.text-center.visible-xs.visible-sm.hidden-md.hidden-lg
    = render :partial => "parametros_ldi"
  .row.hidden-xs.hidden-sm.visible-md.visible-lg
    = render :partial => "parametros_ldi"
