.container-fluid
  /For each comment
  - @ldi.comentarios.each do |com|
    .row.media.well

      /Foto
      .media-object.pull-left
        - if com.usuario != nil
          -# Fixme: Versionar tamaño imagen
          = image_tag com.usuario.image, :class => "img_responsive", :size => "64"
        - else
          -# Fixme: Versionar tamaño imagen
          = image_tag 'usuario_anon.png', :class => "img_responsive", :size => "64"

      /Nombre
      .media-body
        %strong.media-heading
          - if com.usuario != nil
            = com.usuario.nombre
            - if com.usuario == current_usuario
              -# Fixme: Evitar hardcodear ruta
              = link_to :action => "edit", :id_ldi => @ldi.id, :id_com => com.id do
                %span.glyphicon.glyphicon-pencil
          - else
            Anónimo

        /Texto
        %p
          = com.texto