.container
  .col-lg-4
    = render :partial => "informacion_ldi"
  .col-lg-1
  .col-lg-7
    .row.well
      %p
        = @ldi.descripcion
    .row
      %strong.lead
        COMENTARIOS
    .row
      -# Nuevo comentario
      -# Fixme: Evitar hardcodear ruta
      %div
        = form_for @comentario, :url => {:controller => "comentario", :action => "create"}, :class => "form" do |f|
          - if (@comentario.errors.any?)
            .panel.form-group.panel-danger
              .text-danger.panel-heading
                %h3.panel-title
                  = "Hay " + pluralize(@comentario.errors.count, "error", "errores")
              .panel-body
                %ul
                  - @comentario.errors.full_messages.each do |msg|
                    %li.text-danger
                      %strong
                        = msg.split(' ')[0]
                      = msg.split(' ')[1..-1].join(' ')

        = form_for @comentario, :url => {:controller => "comentario", :action => "update"}, :class => "form" do |f|
          .form-group
            = f.text_area :texto, :class => "form-control", :placeholder => "Escribe tu comentario..."
          .form-group
            = f.submit "Actualizar", :class => "btn btn-default pull-right"
        = button_to "Eliminar", {:controller => "comentario", :action => "destroy", :id_com => @comentario.id,
        :id_ldi => @ldi.id}, :method => "delete", :class => "btn btn-danger pull-right delete-btn"
    .row
      = render :partial => "lista_comentarios"