.container
  .col-lg-4
    = render :partial => "informacion_ldi"
  .col-lg-1
  .col-lg-7
    .row.well
      %p
        = @ldi.descripcion
    .row
      %strong.lead
        COMENTARIOS
    .row
      -# Nuevo comentario
      -# Fixme: Evitar hardcodear ruta
      = form_tag :controller => "comentario", :action => "create", :class => "form" do
        -# Fixme: Escriba el comentario.... -> Como PLACEHOLDER
        .form-group
          = text_area_tag "texto", "Escriba el comentario…", :class => "form-control"
        .form-group.text-right
          = submit_tag "Enviar", :class => "btn btn-default"
    .row
      = render :partial => "lista_comentarios"