/Begin page content
.container
  .row
    .col-lg-4
      .row
        .col-lg-12
          %h2
            = @ldi.nombre
            - if usuario_signed_in? && current_usuario == @ldi.usuario
              = link_to :controller => "ldi", :action => "edit", :id => @ldi.id do
                %span.glyphicon.glyphicon-pencil
      .row
        = image_tag @ldi.image, :class => "img-responsive", :size => "300"
      .row
        = image_tag 'agua_map.jpg', :class => "img-responsive"
      .row
        %dl.dl-horizontal
          %dt
            Ciudad
            %dd
              = @ldi.poblacion.nombre
          %dt
            Categoria
            %dd
              - if @ldi.categoria == "bar_pub"
                %span.glyphicon.glyphicon-glass
                Bar/Pub
              - elsif @ldi.categoria == "restaurante"
                %span.glyphicon.glyphicon-cutlery
                Restaurante
              - elsif @ldi.categoria == "naturaleza"
                %span.glyphicon.glyphicon-tree-deciduous
                Naturaleza
              - elsif @ldi.categoria == "cultural"
                %span.glyphicon.glyphicon-tower
                Cultural
              - elsif @ldi.categoria == "alojamiento"
                %span.glyphicon.glyphicon-home
                Alojamiento
          %dt
            Valoración
            %dd
              - val = calc_valoraciones @ldi.id

              - if val == -1
                Sin valoraciones
              - else
                - val.times do
                  %span.glyphicon.glyphicon-star
                - (5-val).times do
                  %span.glyphicon.glyphicon-star-empty
          - if (@ldi.telefono != nil)
            %dt
              Teléfono
            %dd
              = @ldi.telefono
          - if (@ldi.email != nil)
            %dt
              Email
            %dd
              = @ldi.email
    .col-lg-1
    .col-lg-7
      .row.well
        %p
          = @ldi.descripcion
      .row
        %strong.lead
          COMENTARIOS
      %div{:class => "row", :align => "right"}
        =form_tag :controller => "comentario", :action => "create" do
          = text_area_tag 'comentario', "Escriba el comentario…", :class => "form-control", :id => "comentario"
          = submit_tag "Enviar", :class => "btn btn-default"

      /For each comment
      - @ldi.comentarios.each do |com|
        .row.media.well

          /Foto
          .media-object.pull-left
            - if com.usuario != nil
              = image_tag com.usuario.image, :class => "img_responsive", :size => "64"
            - else
              = image_tag 'usuario_anon.png', :class => "img_responsive", :size => "64"

          /Nombre
          .media-body
            %strong.media-heading
              - if com.usuario != nil
                = com.usuario.nombre
                - if com.usuario == current_usuario
                  = link_to :action => "edit", :id_com => com.id do
                    %span.glyphicon.glyphicon-pencil
              - else
                Anónimo

            /Texto
            %p
              = com.texto